<section class="container">
  <div class="row">
    <figure class="photome col-lg-6">
       <img src="https://photos-3.dropbox.com/t/2/AABqmBVE54GiteUxMUJQFXdScDPJSsEoL5cYUJ6ARuu07Q/12/1108408816/png/32x32/1/_/1/2/%D0%A1%D0%BA%D1%80%D0%B8%D0%BD%D1%88%D0%BE%D1%82%202018-05-11%2016.04.02.png/EICG0rgLGBUgAigC/wBmQ7UOv1raZaoSuSSbcgBx14zhxIfm-nMOsKeLGBHQ?preserve_transparency=1&size=2048x1536&size_mode=3"/>
    </figure>
    <div class="aboutme col-lg-6">
      <h3>Hello. My name is Mariia</h3>
      <p>Nulla pharetra eros in elit tempor fermentum. Quisque pellentesque turpis non tellus elementum commodo. Fusce imperdiet placerat justo. Maecenas egestas, sapien viverra aliquam tristique, risus neque cursus magna, sed vestibulum nibh orci nec neque. Aenean fringilla tellus a lorem rhoncus, nec molestie dolor finibus. Fusce id magna id libero faucibus volutpat ac sit amet arcu. Nulla placerat libero rutrum sapien faucibus, quis sodales dui fringilla. Sed in ipsum lorem. Aenean porttitor, ante non laoreet molestie, magna risus rutrum augue, id porta ex ligula sed turpis.</p>
    </div>
  </div>
</section>