<div class="container-fluid">
  <div class="row">
    <div class="column">
      <div class="content">
        <img src="images/IMG_1280.png"/>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <h3>Hello. My name is Mariia</h3>
        <p>Nulla pharetra eros in elit tempor fermentum. Quisque pellentesque turpis non tellus elementum commodo. Fusce imperdiet placerat justo. Maecenas egestas, sapien viverra aliquam tristique, risus neque cursus magna, sed vestibulum nibh orci nec neque. Aenean fringilla tellus a lorem rhoncus, nec molestie dolor finibus. Fusce id magna id libero faucibus volutpat ac sit amet arcu. Nulla placerat libero rutrum sapien faucibus, quis sodales dui fringilla. Sed in ipsum lorem. Aenean   porttitor, ante non laoreet molestie, magna risus rutrum augue, id porta ex ligula sed turpis.</p>
    </div>
    </div>
  </div>
</div>
