<section>
<div class="main container">
    <h2 id="contact">Contact me:</h2>
  <div class="container">
    <div class="glific row">
      <div class="col-lg-2">
        <a class="flaticon indeed" href="#">Indeed</a>
      </div>
      <div class="col-lg-2">
        <a class="flaticon git" href="#">Github</a>
      </div>
      <div class="col-lg-2">
        <a class="flaticon facebook" href="#">facebook</a>
      </div>
      <div class="col-lg-2">
        <a class="flaticon twit" href="#">twitter</a>
      </div>
      <div class="col-lg-2">
        <a class="flaticon googleplus" href="#">googleplus</a>
      </div>
      <div class="col-lg-2">
        <a class="flaticon instagram" href="#">instagramm</a>
      </div>
    </div>
  </div>
</div>
</section>
