<section>
  <div class-"container">
    <ul>
      <li>Indeed</li>
      <li>github</li>
      <li>facebook</li>
      <li>twitter</li>
      <li>googleplus</li>
      <li>instagramm</li>
    </ul>
  </div>
</section>
