<div class="main">

    <div class="slideshow-container">

      <div class="mySlides fade">
        <div class="numbertext">1 / 3</div>
        <img src="https://photos-5.dropbox.com/t/2/AABK7nZHk3ad5KVrDSH-e6oHOww7E8p0EgEw0UfkeyFCSQ/12/1108408816/png/32x32/1/_/1/2/%D0%A1%D0%BA%D1%80%D0%B8%D0%BD%D1%88%D0%BE%D1%82%202018-05-11%2015.59.59.png/EICG0rgLGBUgAigC/71ckBEO5OMy8jn9tJmV-pbYKytGgn0LLiHjs8HvxmSY?preserve_transparency=1&size=2048x1536&size_mode=3" style="width:100%">
        <div class="text">Caption Text</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">2 / 3</div>
        <img src="https://photos-2.dropbox.com/t/2/AACt6KPLByfSq5gaDK0HMCimbf2DTel9GubP-NSb31K-qg/12/1108408816/png/32x32/1/_/1/2/%D0%A1%D0%BA%D1%80%D0%B8%D0%BD%D1%88%D0%BE%D1%82%202018-05-11%2016.04.30.png/EICG0rgLGBUgAigC/YK7QBU2JxuTFlrrJHbGrHAbGqZDSJv6I9jYtkzxMTAc?preserve_transparency=1&size=2048x1536&size_mode=3" style="width:100%">
        <div class="text">Caption Two</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img src="https://photos-2.dropbox.com/t/2/AADeyRNQV8Q7Oe3dtlTc2rDwoiXVKLELsRcYfSiqUOmTTA/12/1108408816/png/32x32/1/_/1/2/%D0%A1%D0%BA%D1%80%D0%B8%D0%BD%D1%88%D0%BE%D1%82%202018-05-11%2016.03.26.png/EICG0rgLGBUgAigC/7xt-MkexYmlBwqwzWrRvEG4xko16FSrlNvaARFbSLVc?preserve_transparency=1&size=2048x1536&size_mode=3" style="width:100%">
        <div class="text">Caption Three</div>
      </div>

    </div>

    <div style="text-align:center">
       <span class="dot"></span>
       <span class="dot"></span>
       <span class="dot"></span>
    </div>

</div>
<section class="container">
  <div class="row">
    <figure class="col-lg-6">
      <img src="https://photos-5.dropbox.com/t/2/AABK7nZHk3ad5KVrDSH-e6oHOww7E8p0EgEw0UfkeyFCSQ/12/1108408816/png/32x32/1/_/1/2/%D0%A1%D0%BA%D1%80%D0%B8%D0%BD%D1%88%D0%BE%D1%82%202018-05-11%2015.59.59.png/EICG0rgLGBUgAigC/71ckBEO5OMy8jn9tJmV-pbYKytGgn0LLiHjs8HvxmSY?preserve_transparency=1&size=2048x1536&size_mode=3"/>
    </figure>
    <figure class="col-lg-6">
      <img src="https://photos-2.dropbox.com/t/2/AACt6KPLByfSq5gaDK0HMCimbf2DTel9GubP-NSb31K-qg/12/1108408816/png/32x32/1/_/1/2/%D0%A1%D0%BA%D1%80%D0%B8%D0%BD%D1%88%D0%BE%D1%82%202018-05-11%2016.04.30.png/EICG0rgLGBUgAigC/YK7QBU2JxuTFlrrJHbGrHAbGqZDSJv6I9jYtkzxMTAc?preserve_transparency=1&size=2048x1536&size_mode=3"/>
    </figure>
  </div>
  <div class="row">
    <figure class="col-lg-6">
      <img src="https://photos-2.dropbox.com/t/2/AADeyRNQV8Q7Oe3dtlTc2rDwoiXVKLELsRcYfSiqUOmTTA/12/1108408816/png/32x32/1/_/1/2/%D0%A1%D0%BA%D1%80%D0%B8%D0%BD%D1%88%D0%BE%D1%82%202018-05-11%2016.03.26.png/EICG0rgLGBUgAigC/7xt-MkexYmlBwqwzWrRvEG4xko16FSrlNvaARFbSLVc?preserve_transparency=1&size=2048x1536&size_mode=3"/>
    </figure>
    <figure class="col-lg-6">
      <img src="https://photos-4.dropbox.com/t/2/AACad3uVv2bqlz9Foe5CnsrF4PqwOH8gUWSz1M5cbMbgKA/12/1108408816/png/32x32/1/_/1/2/%D0%A1%D0%BA%D1%80%D0%B8%D0%BD%D1%88%D0%BE%D1%82%202018-05-11%2016.01.18.png/EICG0rgLGBUgAigC/IXlAYTThwehVqcm3k7lLZP3zEiuA5EzGbEvWH3QRrdI?preserve_transparency=1&size=2048x1536&size_mode=3"/>
    </figure>
  </div>
</section>
