
<section onLoad="photoA()">
   <div id="slider" class="col-lg-12 col-md-12 col-sm-12">
    <img src="Images/img1.png" id="image">
    <div class="left_hold"><img onClick="photo(-1)" class="left" src="Images/arrow_left.png"></div>
    <div class="right_hold"><img onClick="photo(1)" class="right" src="Images/arrow_right.png"></div>
  </div>
</section>

<div class="container">
  <div class="row">
    <a class="col-md-6 col-sm-6" href="#">
      <div class="thumbnail">
        <img src="images/img1.png" alt="First project" />
      </div>
      <h3>First Project</h3>
      <p>Aliquam ex dui, molestie molestie ante vitae, scelerisque placerat metus. Proin efficitur massa in sem congue molestie.
        Praesent fermentum tellus id est consectetur blandit.</p>
    </a>
    <a class="col-md-6 col-sm-6" href="#">
      <div class="thumbnail">
        <img src="images/img2.png" alt="Second project" />
      </div>
      <h3>Second Project</h3>
      <p>Pellentesque vitae imperdiet odio, vitae tempus mauris. Donec consectetur lacus orci, ut dictum neque suscipit sed.
      Quisque malesuada, nisi ut dignissim molestie, est erat lobortis lorem, vel rhoncus purus nisi non diam.</p>
    </a>
  </div>
  <div class="row">
    <a class="col-md-6 col-sm-6" href="#">
      <div class="thumbnail">
        <img src="images/img3.png" alt="Third project" />
      </div>
      <h3>Third Project</h3>
      <p>Donec varius libero augue, sit amet commodo arcu finibus non. Quisque elementum eget purus vitae rutrum.
        Curabitur suscipit, lectus vel auctor scelerisque, metus lorem vulputate ligula, tempor consectetur erat nunc ultrices lorem.
      </p>
    </a>
    <a class="col-md-6 col-sm-6" href="#">
      <div class="thumbnail">
        <img src="images/img4.png" alt="Forth project" />
      </div>
      <h3>Forth Project</h3>
      <p>Proin commodo magna eu iaculis hendrerit.
        Sed consectetur ipsum ex, nec cursus tortor lacinia eu.
        Fusce ultricies ut diam rutrum tincidunt.</p>
    </a>
  </div>
</div>
