
<section onLoad="photoA()">
   <div id="slider">
    <img src="Images/img1.png" id="image" >
    <div class="left_hold"><img onClick="photo(-1)" class="left" src="Images/arrow_left.png"></div>
    <div class="right_hold"><img onClick="photo(1)" class="right" src="Images/arrow_right.png"></div>
  </div>
</section>

<section class="container">
  <div class="row">
    <figure class="col-lg-6">
      <img src="images/img1.png"/>
    </figure>
    <figure class="col-lg-6">
      <img src="images/img2.png"/>
    </figure>
  </div>
  <div class="row">
    <figure class="col-lg-6">
      <img src="images/img3.png"/>
    </figure>
    <figure class="col-lg-6">
      <img src="images/img3.png"/>
    </figure>
  </div>
</section>
