<div class="home">
  <div class="jumbotron">
    <div class="container">
      <h2>Hello. My name is <span class="highlight">Mariia</span> and I love what I do.</h2>
      <!-- <a class="btn btn-default btn-lg" href="#" role="button">Wiew my work</a> -->
      <%= link_to "View my work", portfolio_path, :class=>"btn btn-default btn-lg", :role=>"button" %>
    </div>
  </div>
</div>
