.contact .col-lg-2 a {



}
.main .container {
  margin: 80px 0;
}

#contact {
  color: rgb(66, 134, 244);
  margin-right: 1em;
}
.glific > div > a {
  display: block;
  height: 80px;
  width: 80px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto 40px;
  padding: 16px;
  text-indent: -9999px;
}

.indeed {
background-image: url('../../images/indeed.svg')
}

.git {
 background-image: url('../../images/github.svg');
}

.twit {
 background-image: url('../../images/twitter.svg');
}

.facebook {
 background-image: url('../../images/facebook.svg')
}
.instagram {
background-image: url('../../images/instagram.svg')
}

.googleplus {
background-image: url('../../images/googleplus.svg')
}
