// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
li {
  display: inline-block;
  font-size: 22px;
}

.menu {
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
}

body {
  padding-top: 50px;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    color: rgb(66, 134, 244);
    text-align: right;
    margin: 0;
}

h2 {
   text-align: right;
   font-size: 46px;
   color: rgb(252, 255, 119);
}

a {
  color: rgb(66, 134, 244);
  font-weight: bold;
  text-decoration: none !important;
}

p {
  font-size: 18px;
}

.highlight {
  /*background-color: rgb(66, 134, 244);*/
  font-size: 50px;
  padding: 0 10px 0;
  text-shadow: 5px 5px 10px #000000;
}

.btn {
  float: right;
  color: rgb(252, 255, 119);
  font-size: 25px;
  font-weight: bold;
  background-color: rgb(66, 134, 244);
  padding: 20px;
  border-radius: 25px;
  margin-top: 250px;
  border-color: rgb(66, 134, 244);
  transition: border-color 1s;
}

.btn:hover {
  color: rgb(66, 134, 244);
  background-color: rgb(252, 255, 119);
  border-color: rgb(252, 255, 119);
  font-weight: bold;
  transition: all 1.5s ease-out;

}

.jumbotron {
  background-image: url("../../images/alex-block-354276-unsplash.jpg");
  background-size: cover;
  width: 100%;
  min-height: 600px;
  margin-top: 50px;
  box-shadow: 1em 1em 145px rgb(66, 134, 244);
}

.home {
  margin-bottom: 70px;
}
.social_media {
  display: block;
  text-align: right;

}

.flaticon {
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 16px;
}

.flaticon:hover {
  opacity: 0.7;
}

.twitter {
  background-image: url('../../images/twitter.svg');
}

.github {
  background-image: url('../../images/github.svg');
}

.linkedin {
  background-image: url('../../images/linkedin.svg');

}
