<div class="footer">
  <div class="container">
    <div class="social_media">
      <ul>
        <li>
          <!-- <a class="flaticon twitter" href="#" alt="twitter"></a> -->
          <%= link_to "", "https://twitter.com/Mariia1137", :class=>"flaticon twitter", :alt=>"twitter"%>
        </li>
        <li>
          <!--<a class="flaticon github" href="#" alt="github"></a> -->
          <%= link_to "", "https://github.com/Negiel", :class=>"flaticon github", :alt=>"github"%>
        </li>
        <li>
          <!-- <a class="flaticon linkedin" href="#" alt="linkedin"></a> -->
          <%= link_to "", "https://www.indeed.com/", :class=>"flaticon linkedin", :alt=>"linkedin"%>
        </li>
      </ul>
      <p> &copy  Mariia L. </p>
    </div>
  </div>
</div>
